<div class="contaiber-formMaterial">
  <h1>
    Nuevo Usuario
  </h1>
  
  <form #addForm="ngForm">
      <mat-form-field>
          <input matInput placeholder="Name" required  name="name" />
          <mat-error *ngIf="false">
            Please enter a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Address" required name="address" />
          </mat-form-field>
          <!-- <mat-error *ngIf="!address.valid && !address.pristine">
            Please enter a valid address
          </mat-error> -->
          <!-- <mat-select placeholder="Rol" required name="rol" >
              <mat-option *ngFor="let stratum of stratumList" [value]="stratum.value">
                {{ stratum.label }}
              </mat-option>
            </mat-select> -->
            <mat-error *ngIf="false">
              Please enter a valid stratum
            </mat-error>
            <br>
            <br>
            <!-- <mat-radio-group required class="user-radio-group" [(ngModel)]="user.gender" name="gender" #gender="ngModel">
                <mat-radio-button required class="user-radio-button" *ngFor="let genderOption of genderOptionsList" [value]="genderOption.value">
                  {{genderOption.label}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="!gender.valid">
                Please enter a valid gender
              </mat-error> -->
              <mat-radio-group required class="user-radio-group" name="gender">
                <mat-radio-button required class="user-radio-button" [value]="1">
                  Male
                </mat-radio-button>
                <mat-radio-button required class="user-radio-button" [value]="0">
                  Female
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="false">
                Please enter a valid gender
              </mat-error>
              <br/>
              <br>
              <div class="button-row">
                <button style="margin-right:10px;" mat-raised-button color="primary" >
                  New
                </button>
    
                <button mat-raised-button color="primary" [disabled]="!addForm.valid" >
                  Save
                </button>
              </div>
      
    </form>
</div>
