<div>
  <a routerLink="users/index">Users</a>
  <a routerLink="sports/add">Sports</a>
</div>

<!-- <mat-toolbar color="primary">
    <span>Sports InMotion</span>
    <div style="margin-left: 30px;">
          <div class="button-row">
              <button [matMenuTriggerFor]="menu" mat-fab>
                  <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">exit_to_app</mat-icon> 
              </button>
          </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="users/index">User</button>
          <button mat-menu-item routerLink="sports/add">Sports</button>
        </mat-menu>
    </div>
  </mat-toolbar> -->
